<section class="ui segment">
    <div class="ui four small statistics">
        <div class="ui statistic">
            <div class="value">
                    <i id="gender" title="{{member.details.gender}}"></i>
            </div>
            <div class="label">
                {{member.name.full}}
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                {{#if stats.ibw}}
                    <i class="green dashboard icon" title="Ideal Body Weight"></i>
                {{else}}
                    <i class="red dashboard icon" title="Not Ideal Body Weight"></i>
                {{/if}}
                {{stats.currentWeight}}kg
            </div>
            <div class="label">
                Current Weight
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="heartbeat icon"></i> {{stats.bmi}}
            </div>
            <div class="label">
                BMI
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="doctor icon"></i>
            </div>
            <div class="label">
                {{stats.bmiCategory}}
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        const tag = document.getElementById('gender');
        const gender = tag.getAttribute('title');
        let icon = document.createAttribute("class");
        if (gender === 'Male') {
            icon.value = "male icon";
        } else if (gender === 'Female') {
          icon.value = "female icon";
        } else {
          icon.value = "other gender icon";
        }
        tag.setAttributeNode(icon);
    });
</script>