<div class="ui bulleted list">
    <form class="ui form" action="/trainer-assessment/{{../member.id}}/edit-comment/{{assessmentId}}" method="POST">
        <table class="ui celled table">
            <thead>
            {{> assessment-header}}
            </thead>
            <tbody>
            {{#each member.assessments}}
                <tr>
                    <td>{{date}}</td>
                    <td>{{weight}}</td>
                    <td>{{chest}}</td>
                    <td>{{thigh}}</td>
                    <td>{{upperArm}}</td>
                    <td>{{waist}}</td>
                    <td>{{hips}}</td>
                    <td>
                        {{#if trend}}
                            <i class="large green thumbs up icon"></i>
                        {{else}}
                            <i class="large red thumbs down icon"></i>
                        {{/if}}
                    </td>
                    <td>
                        <div class="ui field">
                            <textarea name="comment" rows="1" title="comment"> {{comment}} </textarea>
                        </div>
                    </td>
                    <td>
                        <button class="ui blue submit button"> Update </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </form>
</div>




