<div class="ui relaxed divided list">
    {{#each members}}
        <div class="ui grid segment">
            <div class="one wide column">
            </div>
            <div class="three wide column">
                <h4 class="ui icon header">
                    <i class="ui user icon"></i>
                    {{name.full}}
                </h4>
            </div>
            <a href="/trainer-assessment/{{id}}" class="three wide column">
                <h4 class="ui icon header">
                    <i class="ui flag checkered icon"></i>
                    Assessments ({{assessments.length}})
                </h4>
            </a>
            <a href="/trainer-goals/{{id}}" class="three wide column">
                <h4 class="ui icon header">
                    <i class="ui soccer icon"></i>
                    Goals ({{goals.length}})
                </h4>
            </a>
            <a href="/trainer-dashboard/delete-member/{{id}}" class="three wide column">
                <h4 class="ui icon header">
                    <i class="ui red trash icon"></i>
                    Delete Member
                </h4>
            </a>
        </div>
    {{/each}}
</div>




