<div class="ui bulleted list">
    {{#each trainer.trainerBookings}}
        <tr>
            <td> {{memberName}} </td>
            <td> {{date}} </td>
            <td> {{time}} </td>
            <td>
                <a href="/trainer-bookings/add-booking-details/{{id}}" class="ui icon button" title="Edit">
                    <i class="icon write"></i>
                </a>
                <a href="/trainer-bookings/delete-booking/{{id}}" class="ui icon button" title="Delete">
                    <i class="icon trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
</div>