<div class="ui bulleted list">
    {{#each trainer.trainerBookings}}
        <tr>
            <td> {{memberName}} </td>
            <td> {{date}} </td>
            <td> {{time}} </td>
            <td>
                {{#if (dateInPast date)}}
                <a href="/trainer-bookings/add-booking-details/{{id}}" class="ui teal icon button" title="Edit">
                    <i class="icon write"></i>Assessment Details
                </a>
                {{else}}
                <a href="/trainer-bookings/delete-booking/{{id}}" class="ui red icon button" title="Delete">
                    <i class="icon trash"></i>Cancel Booking
                </a>
                {{/if}}
            </td>
        </tr>
    {{/each}}
</div>