<form class="ui stacked segment form" action="/trainer-classes/update-class/{{classToEdit.classId}}" method="POST">
    <h3 class="ui header">Edit class</h3>
    <div class="six fields">
        <div class="field">
            <label>Name</label>
            <input title="Name" value="{{classToEdit.details.name}}" name="name">
        </div>
        <div class="field">
            <label>Duration</label>
            <input title="Duration" value="{{classToEdit.details.duration}}" type="time" min="00:30:00" max="01:30:00" step="300" name="duration" required>
        </div>
        <div class="field">
            <label>Capacity</label>
            <input title="Capactiy" value="{{classToEdit.details.capacity}}" type="number" min="10" max="40" step="1" name="capacity" required>
        </div>
        <div class="field">
            <label> Difficulty
                <select class="ui dropdown" name="difficulty" required>
                    <option selected disabled></option>
                    <option value="Beginner"> Beginner</option>
                    <option value="Intermediate"> Intermediate</option>
                    <option value="Advanced"> Advanced</option>
                </select>
            </label>
        </div>
        <div class="field">
            <label> Time </label>
            <input title="Time" type="time" min="08:00:00" max="20:00:00" step="1800" name="time" required>
        </div>
        <div class="field">
            <label>Starting Date</label>
            <input title="Date" type="date" name="date" required>
        </div>
        <div class="field">
            <label>Runs for</label>
            <input title="No. of weeks" value="{{classToEdit.details.weeks}}" type="number" min="4" max="12" step="1" name="weeks" required>
        </div>
    </div>
    <button class="ui blue submit button">Submit</button>
</form>
